.footer {
  width: 100%;
  height: 15rem;
  color: white;
  background-color: var(--main-color-bg-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 6rem;
  margin-right: 0.5rem;
}

@media (max-width: 40em) {
  .footer {
    justify-content: center;
  }

  .logo-container {
    margin-left: 0rem;
  }
}
