.mobile-projects {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
}

.project-link {
  position: absolute;
  z-index: 5;
  width: 95%;
  height: 50%;
}

.project-link:hover ~ .project-img {
  border: 2px solid var(--main-color-1);
}

.project-title {
  color: white;
  font-size: 4rem;
  z-index: 9999;
  transition: color 200ms ease-in;
}

.project-title:hover {
  color: var(--main-color-1);
}

.project-img {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border 150ms ease-in;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header h3 {
  color: var(--main-color-1);
}

.project-header h2 {
  font-size: 4rem;
}

.project-description {
  width: 97%;
  margin: 2rem 0;
  background-color: var(--main-color-bg-2);
  color: var(--main-color-text-grey);
  z-index: 2;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.project-technologies {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-technologies li {
  font-size: 1.6rem;
  color: var(--main-color-1);
}

@media (max-width: 48em) {
  .mobile-projects {
  display: flex;

}
}
